// Palette de couleurs

$background-color: #0D121C;
$card-background: #0D121C;
$text-color: #ffffff;
$highlight: #38e6a3;
$button-color: #38e6a3;
$button-hover: #2ec68c;
$link-color: #38a3e6;
$link-hover: #2c81b5;



// Fond spatial
.background {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: $background-color;
}

// Conteneur principal
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7%;
  border: 10px solid #0B2E6C;
  border-radius: 15px;
  margin: 20px;
}

.con {
  background: $card-background;
  border-radius: 10px;
  max-width: 80%;
  width: 100%;
  opacity: 1;
  z-index: 1;
  box-shadow: 1 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  border: 1px solid #0B2E6C;
  border-radius: 15px;
  padding: 30px;
}

// Titres
h1,
h2 {
  color: $highlight;
  margin-bottom: 15px;
}

h1 {
  font-size: 2.5em;  // Utilisation de la taille relative
}

h2 {
  font-size: 2em;    // Utilisation de la taille relative
  margin-top: 20px;
}

// Texte
p {
  font-size: 1.5em;  // Taille plus grande pour le texte
  line-height: 1.6;
  color: $text-color;
  text-align: justify;
}

// Liens
.link {
  color: $link-color;
  text-decoration: underline;
  transition: color 0.3s ease;

  &:hover {
    color: $link-hover;
  }
}

// Liste
ul {
  list-style-type: none;
  padding: 0;
  text-align: left;

  li {
    padding: 8px 0;
    font-size: 1.2em;
    color: $text-color;
  }
}

// Bouton
.button {
  display: inline-block;
  background-color: $button-color;
  color: $background-color;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
  font-size: 1.1em;

  &:hover {
    background-color: $button-hover;
  }
}

// Responsive mobile
@media (max-width: 768px) {
  h1 {
    font-size: 1.8em;  // Ajustement de la taille des titres pour les écrans plus petits
  }

  h2 {
    font-size: 1.4em;  // Ajustement de la taille des sous-titres
  }

  p {
    font-size: 1.1em;  // Taille du texte ajustée pour les petits écrans
  }

  .container {
    margin-top: 0;  // Suppression de l'espace au-dessus sur les petits écrans
    margin: 10px;
  }

  .con {
    padding: 20px;  // Réduction du padding pour les petits écrans
  }

  .button {
    font-size: 0.9em;  // Réduction de la taille du texte du bouton
  }

  ul li {
    font-size: 0.9em;  // Ajustement de la taille des éléments de liste
  }

  .con {
    margin-top: 20%;
  }
  
}

// Pour les très petits écrans, comme les téléphones en mode portrait
@media (max-width: 480px) {
  h1 {
    font-size: 1.2em;  // Ajustement supplémentaire sur les très petits écrans
  }

  h2 {
    font-size: 1.1em;
  }

  p {
    font-size: 0.9em;  // Ajustement du texte pour une meilleure lisibilité
  }

  .button {
    font-size: 0.6em;  // Réduction pour les très petits écrans
  }

  .con {
    margin-top: 20%;
  }

}
