.profil-container {
  background-color: #574f8a;
  color: white;
  padding: 30px;
  border-radius: 10px;
  margin-top: 20px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.sub-title {
  text-align: center;
  margin-bottom: 30px;
}

.avatar {
  text-align: center;
  margin-bottom: 30px;
}

.avatar-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.info-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.info-item {
  margin-bottom: 20px;
  width: 30%;
}

.game-selection {
  margin-bottom: 20px;
}

.game-label {
  font-size: 1.5rem;
}

.game-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 5px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-item {
  width: 3rem;
  height: 3rem;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Conteneur pour la recherche */
.search-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #0D121C;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
}

/* Style du label pour le champ de saisie */
.search-label h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

/* Champ de saisie pour la recherche */
.search-input {
  width: 95%;
  padding: 12px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #0B2E6C;
  margin-top: 10px;
  transition: border-color 0.3s ease;
  justify-content: center;
  display: flex;
}

/* Effet de focus sur le champ de saisie */
.search-input:focus {
  border-color: #007bff;
  outline: none;
}



/* Style du bouton Accueil */
.back-button {
  background-color: #4CAF50;  /* Couleur de fond */
  color: white;  /* Couleur du texte */
  padding: 12px 24px;  /* Espacement intérieur */
  font-size: 16px;  /* Taille de la police */
  border: none;  /* Supprimer la bordure */
  border-radius: 8px;  /* Bordures arrondies */
  cursor: pointer;  /* Curseur en forme de main */
  transition: background-color 0.3s ease, transform 0.3s ease;  /* Effet au survol */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Ombre pour un effet de profondeur */
}

/* Effet au survol */
.back-button:hover {
  background-color: #45a049;  /* Changer la couleur au survol */
  transform: scale(1.05);  /* Légère augmentation de la taille */
}

/* Effet au clic */
.back-button:active {
  transform: scale(1);  /* Rétablir la taille normale lors du clic */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);  /* Effet d'ombre plus léger */
}

/* Liste des jeux */
.game-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}

/* Élément de jeu */
.game-item {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #5236a6;
  border-radius: 4px;
  background-color: #696816;
  transition: background-color 0.3s ease;
}

.game-item:hover {
  background-color: #1f8742;
  color: white;
}

