.advanced-search{
  width: 100%;
  height: 100%;
  min-height: 100% !important;
  //overflow: hidden; /* Cache les éléments qui débordent */
  border: 1px solid #0B2E6C;
  background-color: #0D121C;
  border-radius: 10px;

  h2 {
    padding-top: 5%;
    padding-left: 5%;
    margin: 0px;
  }

  p {
    padding-left: 5%;
    padding-top: 2%;
    color: #595A5C;
    font-size: 16px;
    margin: 0;
  }
}

.carousel-container {
  position: relative;
  display: flex;
  justify-content: center; /* Centre le carrousel horizontalement */
  align-items: center; /* Centre le carrousel verticalement */
  overflow: hidden; /* Cache les éléments qui débordent */
}

.carousel {
  display: flex;
  gap: 15px;
  padding: 10px;
  white-space: nowrap;
  overflow-x: auto; /* Permet de faire défiler horizontalement */
  scroll-behavior: smooth; /* Défilement fluide */
  scroll-snap-type: x mandatory; /* Force l'alignement des éléments au centre */
  max-width: 600px; /* Limite la largeur du carrousel */
  background-color: #0D121C;
  margin: 0px;
  
}

.carousel-item {
  cursor: pointer;
  padding: 40px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  scroll-snap-align: center; /* Les éléments s'alignent au centre */
  flex-shrink: 0; /* Empêche les éléments de se réduire */
  width: 100px;
  height: 100px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel-item:hover {
  transform: scale(1.1);
}

.selected {
  border: 3px solid #57F2AA;
  border-radius: 50%;
}

/* Boutons de navigation */
.carousel-button {
  background-color: #0D121C;
  border: none;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Assure un centrage parfait en hauteur */
  cursor: pointer;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 0 4px 6px #0B2E6C;
  transition: transform 0.2s ease, background-color 0.2s ease;
  font-size: 24px;
  color: #57F2AA;
}

.carousel-button:hover {
  background-color: #57F2AA;
  color: #120F26;
  transform: translateY(-50%) scale(1.1);
  border: 1px solid #0B2E6C;
}

.prev {
  left: 2%;
}

.next {
  right: 2%;
}

@media (max-width: 768px) {
  .carousel-item {
    width: 80px;
    height: 80px;
  }

  .carousel {
    max-width: 100%;
  }

  .carousel-button {
    padding: 8px;
  }
}
