

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
  }

  .navbar-container {
    width: 100%;
  }

  .footer-container {
    width: 100%;
  }
  
  .page-container {
    min-height: 100%;
    //min-width: 1024px;
    width:100%;
    //background-color: #05070A;
  }
  
  .content {
    padding-top: 7.5%;
    width:100%;
    //background-color: #05070A;
  }

  // footer {
  //   text-align: center;
  //   padding: 10px;
  //   margin-bottom: 0;
  //   margin-left: -20px;
  //   margin-right: -20px;
  //   background-color: #b4b4b4;
  //   width: 102%;
  // }
  
  /* styles.scss ou styles.css */
@media (max-width: 768px) {
  .page-container {
    //min-width: 768px; /* Largeur minimale de 768px */
    overflow-x: auto; /* Ajouter un défilement horizontal si nécessaire */
    padding-top: 12%;
  }
}