.game-card {
    border: 1px solid #0B2E6C; /* Bordure de la carte */
    border-radius: 10px; /* Coins arrondis */
    background-color: #131313; /* Couleur de fond */
    overflow: hidden; /* Cache tout contenu qui dépasse */
    color: #ffffff; /* Texte blanc */
    margin: 10px 0; /* Espacement entre les cartes */
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .game-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .game-cover {
    flex: 1; /* Prend 50 % de la hauteur */
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
  }
  }
  
  .game-details {
    flex: 1; /* Prend 50 % de la hauteur */
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .game-title {
    font-size: 14px; /* Taille du titre */
    margin: 0 0 8px 0; /* Espacement sous le titre */
  }
  
  .game-summary {
    font-size: 12px; /* Taille de la description */
    margin: 0 0 8px 0; /* Espacement sous la description */
    color: #a0a0a0; /* Couleur du texte secondaire */
  }
  
  .game-platforms {
    font-size: 12px; /* Taille des plateformes */
    margin: 0; /* Supprime la marge par défaut */
    color: #6c757d; /* Couleur du texte tertiaire */
  }