<div class="search-over-container">
  <h2>Overfast search</h2>
  <form (ngSubmit)="submitForm()" [formGroup]="overfastForm">

    <div class="form-group">
      <div>
        <label for="battleName">BattleName (ex: Jean):</label>
        <input id="battleName" formControlName="battleName" type="text" required />
        @if (overfastForm.get('battleName')?.errors?.['required']) {
          <p>You need to enter your name Overwatch</p>
        }
      </div>
    </div>

    <div class="form-group">
      <div>
        <label for="battleTag">battleTag (ex: 23156):</label>
        <input id="battleTag" formControlName="battleTag" type="text" required />
        @if (overfastForm.get('battleTag')?.errors?.['required']) {
          <p>You need to enter your battleTag Overwatch</p>
        }
      </div>
    </div>

    <button type="submit" [disabled]="overfastForm.invalid" class="submitButton">Search</button>
  </form>
</div>