// footer {
//   width: 100%;
//   border-top: 1px solid #0B2E6C;
//   background-color: #0D121C;
//   border-top-right-radius: 25px;
//   border-top-left-radius: 25px;
// }

// footer p {
//   padding-top: 12px;
//   font-size: 12px;
// }
