<div class="background-image">
  <img src="login.jpeg" alt="Login Background">
  <div class="overlay"></div>
</div>

<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      
      <!-- Email -->
      <div class="form-group">
        <label for="email">Mail</label>
        <input formControlName="email" type="text">

        @if (loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched) { 
            <p class="error">You need to enter your Email</p> 
        }
        @if (loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched) { 
            <p class="error">Invalid email format</p>
        }
        @if (loginForm.get('email')?.errors?.['emailTaken'] && loginForm.get('email')?.touched) { 
            <p class="error">This email is already in use</p>
        }
      </div>
  
      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" type="password">

        @if (loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched) { 
            <p class="error">You need to enter your Password</p> 
        }
        @if (loginForm.get('password')?.errors?.['minLength'] && loginForm.get('password')?.touched) { 
            <p class="error">Password must be at least 6 characters</p>
        }
        @if (loginForm.get('password')?.errors?.['uppercaseRequired'] && loginForm.get('password')?.touched) { 
            <p class="error">Password must contain at least one uppercase letter</p>
        }
        @if (loginForm.get('password')?.errors?.['numberRequired'] && loginForm.get('password')?.touched) { 
            <p class="error">Password must contain at least one number</p>
        }
        @if (loginForm.get('password')?.errors?.['specialCharRequired'] && loginForm.get('password')?.touched) { 
            <p class="error">Password must contain at least one special character</p>
        }
      </div>

      <button type="submit" [disabled]="loginForm.invalid" class="submitButton">Login</button>
      @if (loginErrorMessage) {
        <p class="error">{{ loginErrorMessage }}</p>
      }
      
    </form>
</div>
