/* Conteneur principal pour la recherche */
#titre{
  justify-content: center;
  display: flex;
}
.search-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.form-wrapper {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #0D121C;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-size: 1.25rem;
}

.form-input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #0B2E6C;
  margin-top: 10px;
  outline: none;
}

.form-input:focus {
  outline: 2px solid #57F2AA;
}

.error-message {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 10px;
}

.alert {
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
}

.warning-alert {
  background-color: #fff3cd;
  color: #856404;
}

.danger-alert {
  background-color: #f8d7da;
  color: #721c24;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #57F2AA;
  color: #120F26;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:disabled {
  background-color: #57f2aa82;
  cursor: not-allowed;
}

.submit-button:hover {
  background-color: #45d98a;
}

/* Conteneur d'erreurs supplémentaires */
.error-container {
  margin-top: 20px;
}


