* {
    box-sizing: border-box;
}


.search-over-container {
    max-width: 80%;
    margin: 50px auto;
    padding: 40px;
    border-radius: 25px;
    background-color: #0D121C;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    z-index: 1;
    border: 1px solid #0B2E6C;
    box-sizing: border-box;
    

    h2 {
        color: #ffffff;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        text-align: left;
        margin-bottom: 5px;
        color: #ffffff;
        font-weight: 600;
    }

    input {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #0B2E6C;
        color: white;
        font-size: 16px;
        outline: none;
    }

    input:focus {
        outline: 2px solid #57F2AA;
    }

    p {
        color: #ff5e5e;
        font-size: 14px;
        margin-top: 5px;
    }

    .submitButton {
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 5px;
        background-color: #57F2AA;
        color: #120F26;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        min-width: 100%;
        transition: 0.3s;
    }

    .submitButton:disabled {
        background-color: #57f2aa82;
        cursor: not-allowed;
    }

    .submitButton:hover:not(:disabled) {
        background-color: #45d98a;
    }
}

@media (max-width: 768px) {
    .search-over-container {
        padding: 40px;
        margin-top: 20%;
        margin-left: 10px;
        margin-right: 20px;
    }
}
